<h1>Password Generator</h1>

<form action="{% url 'password' %}">
    {% csrf_token %}
    <select name="length" id="length">
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
    </select>

    <input type="checkbox" name="uppercase" id="uppercase">
    <label for="uppercase">Include UpperCase</label>

    <input type="checkbox" name="special" id="special">
    <label for=special">Include Special Chars</label>

    <input type="checkbox" name="numbers" id="numbers">
    <label for="numbers">Include Numbers</label>

    <input type="submit" value="Generate Password">
</form>